
@import "../assets/css/variables.css";
@import "../assets/css/type.css";

html, body {
	height: 100%;
}

body {
	margin: 0;
	margin-top: 50px;
}

:local(.app) {
	composes: bgGray from "../assets/css/color.css";
	height: 100%;
}