
@import "../assets/css/variables.css";

:local(.header) {
	composes: bgBlack from "../assets/css/color.css";

	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 10px 20px;

	& .leftSide {
		float: left;
		//color: var(--mainColor);
	}

	& .rightSide {
		float: right;		
	}

}